.login {
    &_layout {
        width: 100svw;
        height: 100svh;
    }

    &_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100svw;
        padding-top: 5em;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 1em;
            margin: 3em;
            padding: 2em 3em;
            width: 90%;
            max-width: 30em;
            border-radius: var(--radius-box);
            border: var(--border-width) solid var(--border-color);
            background-color: var(--surface-a);


            &>h1 {
                margin: 0;
            }

            &>p {
                text-align: center;
                margin: 0 0 2em 0;
            }
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        width: 100%;
        max-width: 25em;
    }
}