.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-box);
    border: var(--border-width) solid var(--border-color);
    background-color: var(--background-color);
    overflow-x: hidden;

}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--size-8xl);
    padding: var(--spacing-none) var(--spacing-lg);
    border-bottom: var(--border-width) solid var(--surface-c);
    background-color: var(--background-color);

    h2 {
        width: 100%;
        font-size: var(--font-size-lg);
        color: var(--foreground-title-color);
        font-weight: var(--font-weight-bold);
    }

    span {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-regular);
        color: var(--foreground-secondary-color);
    }
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}