.tableerror {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: var(--spacing-3xl) var(--spacing-xl);
    border-radius: var(--radius-box);
    border: 1px solid var(--border-color);
    background-color: var(--surface-b);
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--surface-b) 0, var(--surface-b) 1px, var(--surface-a) 0, var(--surface-a) 50%);

    .tableerror_icon {
        position: relative;
        display: flex;
        gap: var(--spacing-sm);

        svg {
            stroke: var(--surface-f);
            fill: var(--surface-b);
        }
    }

    .tableerror_content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        align-items: center;
        justify-content: center;

        h3 {
            font-size: var(--font-size-lg);
            font-weight: 600;
            color: var(--foreground-title-color);
            margin: 0;
        }

        p {
            font-size: var(--font-size-sm);
            color: var(--foreground-secondary-color);
        }
    }

    .tableerror_action {
        display: flex;
        gap: var(--spacing-lg);
    }
}