.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(var(--spacing-4xl) + var(--spacing-xs));
    height: calc(100vh - var(--spacing-3xl));
    padding: var(--spacing-2xs) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
    background-color: var(--surface-a);
    border-right: 1px solid var(--border-color);
    transition: width 0.2s ease;
    overflow: hidden;
    z-index: 100;

    @media (width < 768px) {
        transform: translateX(-100%);
        transition: transform 0.2s ease;
        width: 330px;

        &_open {
            transform: translateX(0);
        }
    }

    @media (width >=768px) {

        &:hover {
            width: 330px;

            .link {
                width: 100%;
                grid-template-columns: 1.5em 1fr;

                span {
                    &:is(:last-child) {
                        display: flex;
                    }
                }
            }
        }
    }

    h3 {
        font-size: var(--font-size-md);
        font-weight: 600;
        margin: var(--spacing-none);
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--primary-text-color);
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        div {
            display: grid;
            grid-template-columns: 2.7em 1fr;
            padding: var(--spacing-md) var(--spacing-none) var(--spacing-sm) var(--spacing-xs);
            place-items: center center;
            gap: var(--spacing-xs);

            & svg {
                stroke: var(--primary-text-color);
            }
        }
    }
}

.link {
    display: grid;
    grid-template-columns: 2.7em;
    place-items: center start;
    gap: 1rem;
    padding: var(--spacing-none) var(--spacing-none) var(--spacing-none) var(--spacing-md);
    height: var(--spacing-3xl);
    text-decoration: none;
    font-weight: 500;
    width: var(--spacing-3xl);
    font-size: var(--font-size-md);
    border-radius: var(--radius-box);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    color: var(--foreground-secondary-color);
    transition: background-color 0.2s ease, width 0.25s ease;

    & svg {
        grid-column: 1 / 2;
        stroke: var(--foreground-secondary-color);
    }

    span {

        &:is(:last-child) {
            display: none;
        }
    }

    &_logout {
        background-color: transparent;
    }

    @media (width < 768px) {
        width: 100%;
        grid-template-columns: 1.5em 1fr;

        span {
            &:is(:last-child) {
                display: flex;
            }
        }
    }
}

.link:hover:not(.active) {
    background-color: var(--surface-b);

    & span {
        color: var(--primary-hover-color);
    }

    & svg {
        stroke: var(--primary-hover-color);
    }
}

.link.active {
    background-color: var(--primary-opacity-color);
    color: var(--foreground-color);
    cursor: default;

    & svg {
        stroke: var(--foreground-color);
    }
}