.areachart {
    padding: var(--spacing-sm);
    height: 100%;
    outline: none;

    * {
        outline: none;
    }
}

.tooltip {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    text-align: center;
    border-radius: var(--radius-box);
    border: 1px solid var(--surface-d);
    box-shadow: 0 1px -1px 1px var(--surface-a) inset;
    overflow: hidden;

    &_header {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        padding: var(--spacing-xs) var(--spacing-md);
        background-color: var(--background-color);
        background-color: var(--surface-b);
        border-bottom: 1px solid var(--border-color);

        h1 {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-bold);
            color: var(--primary-text-color);
        }
    }

    &_tag {
        width: var(--size-xs);
        height: var(--size-2xs);
        border-radius: var(--radius-xs);
    }

    &_values {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) var(--spacing-md);
        background-color: var(--background-color);
    }

    &_value {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-sm);
        font-size: var(--font-size-sm);

        & span {

            &:first-child {
                color: var(--foreground-title-color);
            }

            &:last-child {
                font-weight: var(--font-weight-semibold);
                color: var(--lambda-color-lime-500);
            }
        }
    }
}