.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding: 2rem;
        width: 100%;
        max-width: 35rem;
        border-radius: var(--radius-box);
        border: 1px solid var(--surface-b);
        background-color: var(--surface-a);
        text-align: center;

        h1 {
            margin: 0;
            font-size: 6rem;
            font-weight: 800;
            line-height: 1;
            background: linear-gradient(135deg, var(--foreground-color) 0%, var(--surface-b) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0.8;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
        }

        p {
            margin: 0;
            opacity: 0.8;
            max-width: 80%;
        }

        div {
            & svg {
                opacity: 0.1;
            }
        }
    }
}