.container {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 4rem);
    overflow-y: auto;

    &_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        h1 {
            font-size: var(--font-size-3xl);
            font-weight: var(--font-weight-bold);
        }

        span {
            color: var(--foreground-secondary-color);
            font-size: var(--font-size-md);
        }
    }
}