.logo-fluxcore-large {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-decoration: none;

    @media (width < 768px) {
        & h1 {
            display: none;
        }


    }
}