.container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    place-items: center center;
    padding: var(--spacing-sm) var(--spacing-lg);
    width: 100%;
    height: 75%;

    @media (width < 768px) {
        grid-template-columns: 0.6fr 1fr;
    }

    @media (width < 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

}

.uptime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    width: 100%;
    height: 100%;
    padding: 0 var(--spacing-sm);

    h3 {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        text-align: center;
    }
}


.latency {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
    width: 100%;
    padding: 0 var(--spacing-sm);

    h3 {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);
        text-align: center;
    }


    &_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-sm);
        width: 100%;
    }

    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-sm);
        width: 100%;

        span {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-medium);
            color: var(--foreground-secondary-color);

            &:nth-child(2) {
                font-size: var(--font-size-sm);
                font-weight: var(--font-weight-regular);
            }
        }
    }
}