.container {
    display: flex;
    flex-direction: column;

    &_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        h1 {
            margin: 0;
        }

        span {
            color: var(--color-gray-500);
        }
    }

    &_kips {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: var(--spacing-sm);
    }

    &_charts {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        height: calc(100svh - 345px);
    }
}