.main {
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100svw;
    padding-top: var(--spacing-3xl);
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;

    &_section {
        width: 100%;
        padding: var(--spacing-sm);
    }
}