.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: var(--spacing-3xl);
}

.content {
    display: flex;

    &_section {
        width: 100%;
        padding: var(--spacing-sm);
    }
}