.main {
    display: flex;
    flex-direction: column;
    height: calc(100svh - var(--spacing-3xl));
    width: 100svw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--surface-a);
    margin-top: var(--spacing-3xl);
}

.content {
    display: flex;

    &_section {
        width: 100%;
        padding: var(--spacing-sm);
        padding-left: calc(var(--spacing-4xl) + var(--spacing-md));

        @media (max-width: 768px) {
            padding-left: var(--spacing-sm);
        }
    }
}